<div class="row">
  {{#each recipes as |recipe|}}
    <div class="col-md-4">
      <a href="/recipes/{{recipe.id}}" style="text-decoration: none;">
        <h2>{{recipe.title}}</h2>
        <img src="http://placehold.it/350x350?text={{recipe.title}}" style="max-width: 100%;"/>
        <p>Recipe story</p>
      </a>
    </div>
  {{else}}
    <div class="col-md-12">j
      No recipes found!
    </div>
  {{/each}}
</div>
